@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter-Black";
    src: url("../public/fonts/Inter/Inter-Black.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Inter-Bold";
    src: url("../public/fonts/Inter/Inter-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter-ExtraBold";
    src: url("../public/fonts/Inter/Inter-ExtraBold.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Inter-ExtraLight";
    src: url("../public/fonts/Inter/Inter-ExtraLight.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Inter-Light";
    src: url("../public/fonts/Inter/Inter-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter-Medium";
    src: url("../public/fonts/Inter/Inter-Medium.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Inter-Regular";
    src: url("../public/fonts/Inter/Inter-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url("../public/fonts/Inter/Inter-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Inter-Thin";
    src: url("../public/fonts/Inter/Inter-Thin.ttf");
    font-display: swap;
}

@layer base {
    body {
        @apply bg-[#ffffff];
    }
}

.purple_gradient {
    background: linear-gradient(180deg, #f452ff 0.02%, #832bc1 99.77%);
}

.orange_gradient {
    background: linear-gradient(180deg, #ff7602 0%, #ff3502 100%);
}
